* {
    margin: 0;
    padding: 0;
}

body {
<<<<<<< HEAD
    background: linear-gradient(180deg, #C9D6FF, #E2E2E2);
    height: 100vh;
=======
>>>>>>> 40fc72fc18ba9076369f1553cc31f02d09e1e964
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(180deg, #43C6AC, #191654);
    height: 100vh;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: calc(100vh - 10px);
}

section.card {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 300px;
    padding: 18px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

section.card>img {
    width: 300px;
}

section.attribution {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: hsl(0, 0%, 100%);
    padding-left: 10px;
}

section.attribution a {
    text-align: center;
    color: hsl(216, 98%, 60%)
}

h3 {
    color: hsl(218, 44%, 22%);
    padding: 15px 4px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    padding: 0px 4px;
}